@keyframes moveCard {
    0% { transform: translateY(0); }
    25% { transform: translateY(-5px); }
    50% { transform: translateY(-10px); }
    75% { transform: translateY(-5px); }
    100% { transform: translateY(0); }
}
  
.card:hover {
animation: moveCard 0.3s ease-in-out;
}

.pokemon-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1fr);
    grid-column-gap: 50px;
    grid-row-gap: 20px;
} @media (max-width: 1420px) {
    .pokemon-grid {
        grid-template-columns: repeat(3, 1fr);
    }
    
    @media (max-width: 940px) {
        .pokemon-grid {
        grid-template-columns: repeat(2, 1fr);
        }
        
        @media (max-width: 500px) {
        .pokemon-grid {
            grid-template-columns: repeat(1, 1fr);
        }
        }
    }
}

.Acero {
    background-color: #757575;
    border-radius: 6px;
}

.Agua {
    background-color: #00c3ff;
    border-radius: 6px;
}

.Bicho {
    background-color: #b15c24;
    border-radius: 6px;
    color: white;
}

.Dragon {
    background-color: #ff7b00;
    border-radius: 6px;
}

.Electrico {
    background-color: #6882c9;
    border-radius: 6px;
}

.Fantasma {
    background-color: #d8d8d8;
    border-radius: 6px;
}

.Fuego {
    background-color: #ff0000;
    border-radius: 6px;
    color: white;
}

.Hada {
    background-color: #ff7bc4;
    border-radius: 6px;
    color: white;
}

.Hielo {
    background-color: #2600ff;
    border-radius: 6px;
    color: white;
}

.Lucha {
    background-color: #664bff;
    border-radius: 6px;    
    color: white;
}

.Normal {
    background-color: #5c5c5c;
    border-radius: 6px;
}

.Planta {
    background-color: #157a12;
    border-radius: 6px;
    color: white;
}

.Psiquico {
    background-color: #ffd900;
    border-radius: 6px;
}

.Roca {
    background-color: #a56c4b;
    border-radius: 6px;
    color: white;
}

.Siniestro {
    background-color: #9b0079;
    border-radius: 6px;
    color: white;
}

.Tierra {
    background-color: #00ce00;
    border-radius: 6px;
    color: white;
}

.Veneno {
    background-color: #d300c8;
    border-radius: 6px;
    color: white;
}

.Volador {
    background-color: #27a1da;
    border-radius: 6px;
}