<nav class="bg-gray-700 h-16">
    <h1 class="text-white font-semibold text-3xl text-center p-2 title">Bienvenido a la Pokedex</h1>
</nav>

<section class="flex justify-around mt-5">
    <div>
        <input list="type" type="text" id="searchType" placeholder="Buscar..." class="rounded-lg bg-blue-400 hover:bg-blue-500 outline-none p-2 text-white mr-3"/>
            <datalist id="type">
                <option value="Acero">
                <option value="Agua">
                <option value="Bicho">
                <option value="Dragón">
                <option value="Eléctrico">
                <option value="Fantasma">
                <option value="Fuego">
                <option value="Hada">
                <option value="Hielo">
                <option value="Lucha">
                <option value="Normal">
                <option value="Planta">
                <option value="Psíquico">
                <option value="Roca">
                <option value="Siniestro">
                <option value="Tierra">
                <option value="Veneno">
                <option value="Volador">
            </datalist>
    </div>
    <div class="ml-3 add-pokemon">
        <button (click)="openModal()" class="bg-blue-400 hover:bg-blue-500 text-white rounded-lg flex p-2">Agregar un pokemon
            <span class="material-symbols-rounded font-extrabold">add</span>
        </button>
        <div *ngIf="modalSwitch == true"><app-modal></app-modal></div>
    </div>
</section>

<router-outlet></router-outlet>