<nav class="bg-yellow-300 flex justify-between">
    <h1 class=" font-semibold text-2xl p-3">Bienvenido a la pokedex</h1>
    <div class="">
        <input list="type" type="text" id="searchType" placeholder="Buscar..." class="rounded-lg bg-blue-400 outline-none p-2 mt-2 mx-5"/>
            <datalist id="type">
                <option value="Acero">
                <option value="Agua">
                <option value="Bicho">
                <option value="Dragón">
                <option value="Eléctrico">
                <option value="Fantasma">
                <option value="Fuego">
                <option value="Hada">
                <option value="Hielo">
                <option value="Lucha">
                <option value="Normal">
                <option value="Planta">
                <option value="Psíquico">
                <option value="Roca">
                <option value="Siniestro">
                <option value="Tierra">
                <option value="Veneno">
                <option value="Volador">
            </datalist>
    </div>
</nav>

<section>
    <div class="flex justify-end">
        <button class="p-2 mx-5 bg-blue-400 text-white rounded-lg my-5 flex">Agregar un pokemon
            <span class="material-symbols-rounded font-extrabold">add</span>
        </button>
    </div>
</section>