<div class="pokemon-grid">
    <div class="bg-gray-100 card mx-10 mt-10 rounded-lg cursor-pointer" routerLink="/detail-pokemon">
        <div class="flex justify-center">
            <img src="../../../assets/pokemon1.png" alt="Pokemon img" class="rounded-xl h-40 mt-6">
        </div>
        <div class="p-2 text-center">
            <p class="text-gray-500">N° 0001</p>
            <p class="font-semibold">Charmander</p>
            <p class="bg-orange-500 rounded">Fuego</p>
        </div>
    </div>
</div>